PORT=3000
DATABASE_URL=postgresql://neondb_owner:npg_U7zOZanyh3jb@ep-small-bread-aq0bcrs5-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET="kajshfjahsfdj"
JWT_EXPIRES_IN=7d
